<table class="table table-hover">
    <tr *ngFor="let airplane of service.list">
        <td (click)="popularForm(airplane)">{{airplane.Modelo}}</td>
        <td (click)="popularForm(airplane)">{{airplane.QuantidadePassageiros}}</td>
        <td (click)="popularForm(airplane)">{{airplane.CriadoEm | date: "dd/MM/yyyy"}}</td>
        <td>
            <button (click)="onDelete(airplane.Id)" class="btn btn-sm btn-outline-danger">
                <i class="fa fa-trash"></i>
            </button>
        </td>
    </tr>
</table>